header h1{
	text-align: center;
}

article div{	
	height: 400px;
	text-align: center;
	background-color: #f2f2f2;		
	border-radius: 10px;	
	margin-bottom: 1px;	
}

article img{
	height: 50%;
	width: 90%;
}

#informacion{
	text-align: center;
	height: 550px;
}

#modalInformacion  img{
	height: 20%;
	width: 50%;	
}
